/* @font-face {
  font-family: Silver;
  src: url(https://427396048-642845047394716217.preview.editmysite.com/uploads/b/139890129-761103484729797659/files/silver.ttf);
} */

@font-face {
  font-family: Retron2000;
  src: url(https://427396048-642845047394716217.preview.editmysite.com/uploads/b/139890129-761103484729797659/files/retron2000.ttf);
}
